@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z6j9b1');
  src:  url('fonts/icomoon.eot?z6j9b1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z6j9b1') format('truetype'),
    url('fonts/icomoon.woff?z6j9b1') format('woff'),
    url('fonts/icomoon.svg?z6j9b1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram-logo:before {
  content: "\e909";
}
.icon-menu-condores:before {
  content: "\e908";
  color: #fff;
}
.icon-arrow:before {
  content: "\e907";
}
.icon-icono-01:before {
  content: "\e900";
}
.icon-icono-02:before {
  content: "\e901";
}
.icon-icono-03:before {
  content: "\e902";
}
.icon-icono-04:before {
  content: "\e903";
}
.icon-icono-05:before {
  content: "\e904";
}
.icon-icono-06:before {
  content: "\e905";
}
.icon-icono-07:before {
  content: "\e906";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-youtube:before {
  content: "\e601";
}
