.footer
	background-color: $negro
	padding-top: 30px
	padding-bottom: 11px
	color: $blanco
	overflow: hidden
.footer__content
	height: auto
	width: 95%
	max-width: 1920px
	margin: 0 auto
	text-align: center
.footer__top
	padding-left: 30px
	padding-right: 30px
.footer__box__redes
	margin: 0 auto
	width: 250px
	height: 30px
.footer--enlace--redes
	display: inline-block
	transition: all 0.4s ease
	padding-left: 20px
	padding-right: 20px
	text-decoration: none
	color: $blanco
	&:hover
		transform: scale(2)
.footer--a
	color: $blanco
	text-decoration: none
	&:hover
		color: $blanco
.footer__content__box
	max-width: 1200px
	display: flex
	margin: auto
	flex-wrap: wrap
	align-items: flex-end
	flex-direction: row
	justify-content: space-between
.footer__content, .footer--mail, .footer--a
	font-family: $t-2
	font-size: 16px
.footer__box__datos
	text-align: left
	padding-top: 34px
	height: auto
	padding-bottom: 30px
.footer--box--flota-derecha
	display: flex
	text-align: right
	a
		padding-left: 12px
	h4
		strong
			padding-left: 12px
.footer__bottom
	border-top: solid 1px $blanco
	padding-top: 12px
	padding-left: 30px
	padding-right: 30px
	height: auto
	margin: auto
	display: flex
	max-width: 1200px
	justify-content: space-between
.footer--mail
	text-decoration: none
	color: $blanco
	font-family: $t-4
	&:hover
		color: $blanco

.footer__box__datos
	font-family: $t-4
	li
		font-size: 14px
		font-family: $t-4
.staffdigital
	position: relative
	&:before
		content: "\e60e"
		position: absolute
		right: -4px
		font-family: icomoon
		font-size: 18px
		color: white
		top: -11px
		width: 10px
		height: 10px

@media screen and (max-width: 1080px)
	.footer
		font-size: 14px
@media screen and (max-width: 1018px)
	.footer
		padding-top: 20px
	.footer__content__box
		flex-direction: column
	.footer__content__box
		align-items: center
	.footer__box__datos
		text-align: center
		padding-top: 15px
		padding-bottom: 15px
		flex-direction: column
	.footer--box--flota-derecha
		text-align: center
	.footer--box--flota-derecha
		h4
			br
				display: none
			strong 
				padding-left: 0
	.footer__box__redes
		display: none
	.footer__bottom
		flex-direction: column
@media screen and (max-width: 365px)
	.footer__content__box
		display: none
	.footer
		padding-top: 0
	.footer__bottom
		font-size: 13px
		padding-left: 15px
		padding-right: 15px
	.staffdigital:before
		right: -4px
		font-size: 15px