.header__fixed
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 120px
	z-index: 800

.header__container
	max-width: 1700px
	width: 100%
	padding: 0 20px 
	padding-top: 30px
	box-sizing: border-box
	display: flex
	align-items: center
	justify-content: space-between

.header__logo 
	position: absolute
	top: 5px
	left: 0
	right: 0
	margin: auto
	max-width: 220px
	width: 100%
	color: $blanco
	img 
		width: 100%
		height: auto
		display: block

.header__menu
	display: flex
	align-items: center
	cursor: pointer

.header__menu__burguer
	color: $blanco 
	font-size: 30px

.header__menu__text 
	padding-left: 25px
	color: $blanco
	font-size: 18px
	font-family: $t-4

.header__item__contact
	a 
		font-size: 18px
		font-family: $t-4
		color: $blanco
		text-decoration: underline

.overflow--body
	overflow: hidden

.header__menu__overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $blanco
	opacity: 0
	visibility: hidden
	transition: 1s cubic-bezier(0.25, 0.1, 0.25, 1)
	z-index: -1

.header__menu__overlay.active
	opacity: .6
	visibility: visible
	z-index: 1000

.menu__sidebar
	position: fixed
	top: 0
	left: -70%
	z-index: 1000
	width: 50%
	height: 100%
	overflow: auto
	background: #939C93
	padding: 3% 6%
	box-sizing: border-box
	transition: 1s cubic-bezier(0.25, 0.1, 0.25, 1)

.menu__sidebar.active 
	left: 0

.menu__sidebar__close
	position: absolute
	display: block
	cursor: pointer
	border-radius: 100%
	top: 40px
	right: 60px
	width: 55px
	height: 55px
	line-height: 55px
	text-align: center
	color: $blanco 
	font-size: 30px
	background: #173504

.header__sidebar__logo
	max-width: 242px 
	width: 100%
	display: inline-block
	margin-bottom: 30px
	img 
		display: block
		height: auto
		width: 100%

.header__link
	display: inline-block
	color: #173504
	position: relative
	font-size: 28px
	text-transform: uppercase
	padding-bottom: 5px
	font-family: $t-1
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 0
		height: 2px
		background: #173504
		width: 0
		transition: all .3s ease-in-out

.header__link:hover 
	text-decoration: inherit
	color: $c-3
	&:before
		width: 60px

.header__link.active 
	text-decoration: inherit
	color: $c-3
	&:before
		width: 60px

.header__item
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0

// redes

.header__list__redes
	margin-top: 40px
	li 
		display: inline-block
		vertical-align: middle
		margin-right: 6%
		&:last-child
			margin-right: 0

.header__redes__link
	color: $blanco !important
	text-decoration: inherit
	font-size: 18px

.header__redes__link:hover 
	text-decoration: inherit
	color: $blanco 


@media screen and (max-width: 1024px)
	.header__fixed
		height: 90px

	.header__container
		height: 100%
		padding-top: 0

	.header__logo
		max-width: 160px

@media screen and (max-width: 960px)
	.menu__sidebar
		width: 500px
		left: -500px

	.menu__sidebar__close
		top: 20px
		right: 20px

	
	.header__link
		font-size: 25px

@media screen and (max-width: 767px)
	.header__container
		padding: 0 15px 

	.header__fixed
		height: 60px

	.header__logo
		max-width: 130px

	.header__menu__text
		font-size: 16px
		padding-left: 15px

	.header__menu__burguer
		font-size: 25px

	.header__item__contact a
		font-size: 16px

	.header__links
		display: none

	.header__link
		font-size: 20px

	.menu__sidebar
		width: 100%
		left: -100%
		padding: 30px 

	.menu__sidebar__close
		width: 40px
		height: 40px
		line-height: 40px 
		font-size: 25px

	.header__sidebar__logo
		max-width: 170px

	.header__menu__text
		display: none
	
	.header__logo
		max-width: 105px


	

