footer.footer
  .footer__content
    .footer__top
      .footer__box__redes
        ul
          li.footer--enlace--redes
            a.footer--a.icon-instagram-logo(href='https://www.instagram.com/concretagrupo/?hl=es', target='_blank')
          li.footer--enlace--redes
            a.footer--a.icon-icono-03(href='whatsapp://send?text=Hello World!&phone=+51946277551"', target='_blank')
          //- li.footer--enlace--redes
          //-   a.footer--a.icon-icono-06(href='', target='_blank')
          li.footer--enlace--redes
            a.footer--a.icon-icono-07(href='https://www.facebook.com/Condominio-Los-C%C3%B3ndores-Chaclacayo-527896450646557/', target='_blank')
      .footer__content__box
        .footer__box__datos.footer--box--flota-izquierda 
          h4 Dirección
          ul
            li Av. Reynaldo de Vivanco 202 - Chacarilla, Surco.
        .footer__box__datos 
          h4 Correo Electrónico
          ul
            li
              a.footer--mail(href='mailto:carlosherrera@condominioloscondores.com')  carlosherrera@condominioloscondores.com
        .footer__box__datos.footer--box--flota-derecha
          h4 Número de 
            br
            strong CELULAR:
          ul
            li
              a(href='tel: (+51) 946 277 551')
                strong (+51) 946 277 551
    .footer__bottom
      .footer__box1__credito.footer--box--flota-izquierda
        p.
          © Todos los Derechos Reservados 2017
      .creditos-right
             p Diseño de páginas web 
              a.staffdigital(href='https://www.staffdigital.pe/', target='_blank') Staff Digital