header.header
	.header__fixed
		.header__container
			.header__menu.header__menu__pitcher
				span.header__menu__burguer.icon-menu-condores
				span.header__menu__text Menú
			a(href="#slider").header__logo.miclase
				img(src=`${STATIC_URL}img/header_logo.svg`, alt="") 
			.header__links
				.header__item__contact
					a.miclase(href="#contactenos") Contacto

.header__menu__overlay
.menu__sidebar
	span.menu__sidebar__close.icon-close
	.menu__sidebar__cnt
		a(href="#slider").header__sidebar__logo.miclase.header__ancla
			img(src=`${STATIC_URL}img/header_logo.svg`, alt="") 
		.header__cnt__list
			ul.header__list
				li.header__item
					a.header__link.header__ancla.miclase(href="#exclusivo") Descripción
				li.header__item
					a.header__link.header__ancla.miclase(href="#plano") Lotes
				li.header__item
					a.header__link.header__ancla.miclase(href="#galeria") Galería
				li.header__item
					a.header__link.header__ancla.miclase(href="#ubicacion") Ubicación
				li.header__item
					a.header__link.header__ancla.miclase(href="#contactenos") Contacto
			ul.header__list__redes
				li
					a(href="#").icon-instagram-logo.header__redes__link
				li
					a(href="#").icon-icono-03.header__redes__link
				li
					a(href="#").icon-icono-06.header__redes__link
				li
					a(href="#").icon-icono-07.header__redes__link




