extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	
	section.contacto
		.contacto__content
			.contacto__title.titulos.titulo--centro
				h2.titulo-general PARA MÁS INFORMACIÓN<strong>CONTÁCTENOS</strong>
			.contacto__form
				form(action="")
					ul
						li
							.contact.contac__input.contac--input
								input(type="text", name="nombres", class="validate[required]")
								label.label Nombre

						li
							.contact.contac__input.contac--input
								input(type="number", name="telefono", class="validate[required]")
								label.label Teléfono
						li
							.contact.contac__input.contac--input
								input(type="email", name="nombre_apellido", class="validate[required]")
								label.label E-mail
						li
							.contact.contac__input.contac--input
								input(type="textarea", name="mensaje", class="validate[required]")
								label.label Mensaje
					.contenedor__button
						button.button.button--fondocolorblanco(type='') ENVIAR
						i.icon-icono-04.padding--left
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(function() {
			//- k
			var formBox = $(".contac__input input, .contac__input textarea")
			$(formBox).focusin(function() {
				$(this).parent().addClass('active');
			});

			$(formBox).focusout(function() {
				if ($(this).val() === "") {
					$(this).parent().removeClass('active');
				};
			});
		});
