extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.wrapper
		span.linea__vertical.linea--uno
		span.linea__vertical.linea--dos
		span.linea__vertical.linea--tres
		span.linea__vertical.linea--cuatro
		span.linea__horizontal.linea--uno--horizontal
		span.linea__horizontal.linea--dos--horizontal
		span.linea__horizontal.linea--tres--horizontal
		span.linea__horizontal.linea--cuatro--horizontal
		span.linea__horizontal.linea--cinco--horizontal
		section.error
			.error__content
				.error__title
					h2 GRACIAS
					h3 MENSAJE ENVIADO
					p  Gracias por enviarnos tu mensaje, nos estaremos comunicando contigo lo antes posible, puedes regresar a la página principal o quizás encuentres lo que buscabas.
				.error__button
					a.button(href="home.html") REGRESAR AL HOME
						span.button__icon.icon-arrow

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})