extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	
	section.exclusivo
		.exclusivo__content
			.caja__plomo__exclusivo
			.txt_group_exclusivo
				.contacto__title.titulos.titulo--izquierda
					h2.titulo-general UN LUGAR<strong>EXCLUSIVO</strong>
				.parrafo-general.parrafo-justificado
					p.
						El Condominio esta ubicado dentro de la Urbanización Los Condores en Chaclacayo, un lugar exclusivo de casas de campo muy cerca de Lima, que goza de clima seco y sol durante todo el año. A solo 4 cuadras del Country Club Los Condores y a 15 Minutos del Club Regatas "La Cantuta".
					p.
						La Urbanización Los Condores cuenta con doble pórtico de Vigilancia, circuito de camaras de seguridad y servicio de vigilancia motorizada las 24 horas del día. Además al ser solo 09 Lotes, se convierte en la opción mas segura y verdaderamente exclusiva de Casas de Campo.
			.exclusivo__img
				img(src=`${STATIC_URL}img/img-exclusivo.jpg` alt="")
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	//- aqui inicia script
	//- script.
	//- 	$(function() {
	//- 		//- k
	//- 		var formBox = $(".contac__input input, .contac__input textarea")
	//- 		$(formBox).focusin(function() {
	//- 			$(this).parent().addClass('active');
	//- 		});

	//- 		$(formBox).focusout(function() {
	//- 			if ($(this).val() === "") {
	//- 				$(this).parent().removeClass('active');
	//- 			};
	//- 		});
	//- 	});
