extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	
	section.galeria
		.galeria__content
			.txt_group_galeria
				.contacto__title.titulos.titulo--izquierda
					h2.titulo-general NUESTRA<strong>GALERÍA</strong>
				.parrafo-general.parrafo-justificado
					p.
						Nuestro Condominio es un exclusivo proyecto que permite vivir todo el año disfrutando de la tranquilidad, la naturaleza y la exclusividad.
			.galeria__group__box
				.galeria__box1
					.galeria__img1(style=`background-image: url('${STATIC_URL}img/img1-galeria.jpg');`)
					.galeria__img2(style=`background-image: url('${STATIC_URL}img/img2-galeria.jpg');`)
					.galeria__img3(style=`background-image: url('${STATIC_URL}img/img3-galeria.jpg');`)
				.galeria__box2
					.galeria__img4(style=`background-image: url('${STATIC_URL}img/img4-galeria.jpg');`)
					.galeria__img5(style=`background-image: url('${STATIC_URL}img/img5-galeria.jpg');`)
					.galeria__img6
						.contenedor__button
							button.button.button--fondocolorblanco(type='') VER GALERÍA
							i.icon-icono-04.padding--left
			.galeria__box__cierre.parrafo-general.parrafo-centro
				p.
					CONDOMINIO DISEÑADO POR VERTICE ARQUITECTOS
				.galeria__logo__vertice
					img(src=`${STATIC_URL}img/img-logo-vertice-galeria.jpg` alt="")
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	//- aqui inicia script
	//- script.
	//- 	$(function() {
	//- 		//- k
	//- 		var formBox = $(".contac__input input, .contac__input textarea")
	//- 		$(formBox).focusin(function() {
	//- 			$(this).parent().addClass('active');
	//- 		});

	//- 		$(formBox).focusout(function() {
	//- 			if ($(this).val() === "") {
	//- 				$(this).parent().removeClass('active');
	//- 			};
	//- 		});
	//- 	});
