extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/fancy/fancy-full/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/fancy/fancy-full/lg-transitions.css`)
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section#slider.home__principal
		.home__principal__buttons
			//- .home__principal__button1
			//- 	.number__content
			//- 		p
			//- 			| 01
			//- 	.slash__content
			//- 		p
			//- 			| /
			//- 	.icon__content
			//- 		.home__icon__box
			//- 		i.icon-icono-05.home__icon
			//- 	.parrafo__content
			//- 		p
			//- 			| CONDOMINIO
			//- 			strong LOS CONDORES
			.home__principal__button2
				.number__content
					p
						| 01
				.slash__content
					p
						| /
				.parrafo__content
					p
						| CONDOMINIO
						strong LOS CONDORES
			
		.home__principal__content
			.home__principal__slider
				ul.home__principal__slider__pitcher
					li.home__principal__slider__item(style=`background-image: url('${STATIC_URL}img/img1_slider.jpg');`)
						.home__principal__table
							.img1_slider
					//- li.home__principal__slider__item(style=`background-image: url('${STATIC_URL}img/img1_slider.jpg');`)
					//- 	.home__principal__table
					//- 		.img1_slider(style=`background-image: url('${STATIC_URL}img/img2_slider.jpg');`)
		.home__principal__arrows
			.home__principal__arrow--prev.icon-icono-04
			.home__principal__arrow--next.icon-icono-04

	section.exclusivo#exclusivo
		.exclusivo__content
			.caja__plomo__exclusivo
			.txt_group_exclusivo
				.contacto__title.titulos.titulo--izquierda
					h2.titulo-general UN LUGAR<strong>EXCLUSIVO</strong>
				.parrafo-general.parrafo-justificado
					p.
						El Condominio esta ubicado dentro de la Urbanización Los Condores en Chaclacayo, un lugar exclusivo de casas de campo muy cerca de Lima, que goza de clima seco y sol durante todo el año. A solo 4 cuadras del Country Club Los Condores y a 15 Minutos del Club Regatas "La Cantuta".
					p.
						La Urbanización Los Condores cuenta con doble pórtico de Vigilancia, circuito de camaras de seguridad y servicio de vigilancia motorizada las 24 horas del día. Además al ser solo 09 Lotes, se convierte en la opción mas segura y verdaderamente exclusiva de Casas de Campo.
			.exclusivo__img
				img(src=`${STATIC_URL}img/img-exclusivo.jpg` alt="")

	section.plano#plano
		.plano__content
			.plano__img
				img(src=`${STATIC_URL}img/img-mapa-plano.png` alt="")
			.txt_group_plano
				.plano__title
					.contacto__title.titulos.titulo--izquierda
						h2.titulo-general PLANO DE<strong>LOTES</strong>
					.parrafo-general.parrafo-justificado.plano--padding--button
						p.
							El Condominio tiene un área total de más de 16,000m2 sobre el cual se han desarrollado 09 lotes de campo y áreas comunes, jardines, caminos y Portico de seguridad. El condominio se encuentra totalmente arborizado.
				.plano__table
					table.plano__table
						thead
							tr.plano--table--alto.parrafo-general
								th.plano--table--th.plano--table--ancho.plano--table--txt--center LOTE
								th.plano--table--th.plano--table--ancho.plano--table--txt--center ÁREA
						tbody.parrafo-general
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A01
								td.plano--table--td 1202.83m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A02*
								td.plano--table--td 1349.33m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A03
								td.plano--table--td 1193.37m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A04*
								td.plano--table--td 1388.52m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A05
								td.plano--table--td 1166.22m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A06
								td.plano--table--td 1096.27m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A07
								td.plano--table--td 1176.02m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A08
								td.plano--table--td 1035.94m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A09
								td.plano--table--td 3769.51m2
				.parrafo-general.parrafo-justificado.plano--padding--top.plano__parrafo__center
						p.
							Los Lotes 02 y 04 incluyen casa 100% remodelada*
				.contenedor__button.plano--button--display
						a.button.lightgallery__image--pitcher1(href="") VER LOTES
							span.button__icon.icon-arrow

	section.galeria#galeria
		.galeria__content__bgc.galeria__content--top
			h2 Galería
		.galeria__content__bgc.galeria__content--bottom
			h2 de fotos
			
		.galeria__content
			#lightgallery__image--id.fixed-img(style="display:none")
				a.galeria__img1(href=`${STATIC_URL}img/img1-galeria.jpg`)
					img(src=`${STATIC_URL}img/img1-galeria.jpg`)
				a.galeria__img2(href=`${STATIC_URL}img/img2-galeria.jpg`)
					img(src=`${STATIC_URL}img/img2-galeria.jpg`)
				a.galeria__img3(href=`${STATIC_URL}img/img3-galeria.jpg`)
					img(src=`${STATIC_URL}img/img3-galeria.jpg`)
				a.galeria__img4(href=`${STATIC_URL}img/img4-galeria.jpg`)
					img(src=`${STATIC_URL}img/img4-galeria.jpg`)
				a.galeria__img5(href=`${STATIC_URL}img/img5-galeria.jpg`)
					img(src=`${STATIC_URL}img/img5-galeria.jpg`)
			.txt_group_galeria
				.contacto__title.titulos.titulo--izquierda
					h2.titulo-general NUESTRA<strong>GALERÍA</strong>
				.parrafo-general.parrafo-justificado
					p.
						Nuestro Condominio es un exclusivo proyecto que permite vivir todo el año disfrutando de la tranquilidad, la naturaleza y la exclusividad.
			.galeria__group__box
				.galeria__box1
					.galeria__img1(href=`${STATIC_URL}img/galeria-1.png`, style=`background-image: url('${STATIC_URL}img/galeria-1.png');`)
					.galeria__img2(href=`${STATIC_URL}img/galeria-2.png`, style=`background-image: url('${STATIC_URL}img/galeria-2.png');`)
					.galeria__img3(href=`${STATIC_URL}img/galeria-3.png`, style=`background-image: url('${STATIC_URL}img/galeria-3.png');`)
				.galeria__box2
					.galeria__img4(href=`${STATIC_URL}img/galeria-4.png`, style=`background-image: url('${STATIC_URL}img/galeria-4.png');`)
					.galeria__img5(href=`${STATIC_URL}img/galeria5.png`, style=`background-image: url('${STATIC_URL}img/galeria5.png');`)
					.galeria__img6
						.contenedor__button
							a.button.lightgallery__image--pitcher(href="") VER GALERÍA
								span.button__icon.icon-arrow
				.galeria__boton__responsive
					a.button.lightgallery__image--pitcher(href="") VER GALERÍA
								span.button__icon.icon-arrow
			.galeria__box__cierre.parrafo-general.parrafo-centro
				p.
					CONDOMINIO DISEÑADO POR VERTICE ARQUITECTOS
				.galeria__logo__vertice
					img(src=`${STATIC_URL}img/img-logo-vertice-galeria.jpg` alt="")
		section.lightgallery__image__wrap1(style='display: none;')
				#lightgallery__image--id1.lightgallery__image1
					a.lightgalley__image__item1(href=`./${STATIC_URL}img/img-mapa-plano.png`)
						img(src=`./${STATIC_URL}img/img-mapa-plano.png`, alt='')
					

	section.ubicacion#ubicacion
		.ubicacion__content
			.ubicacion__img
				img(src=`${STATIC_URL}img/img-ubicacion.jpg` alt="")
			.ubicacion__content__group
				.contacto__title.titulos.titulo--izquierda
					h2.titulo-general NUESTRA<strong>UBICACIÓN</strong>
				.parrafo-general.parrafo-justificado
					p.
						Ubicado a solo 45 minutos de Lima, contamos con una amplia vista panoramica, hermosos atardeceres y exclusivos Lotes de mas de 1,000m2 para disfrutar todo el dia.
				.contenedor__button.button--derecha
					a#openModal.button(href="") VER PLANO
						span.button__icon.icon-arrow
						
	section.contacto#contactenos
		.contacto__content
			.contacto__title__box
				.contacto__title.titulos.titulo--centro
					h2.titulo-general PARA MÁS INFORMACIÓN<strong>CONTÁCTENOS</strong>
			.contacto__form
				form#formContact(action="")
					ul
						li
							.contact.contac__input.contac--input
								input(type="text", name="nombres", class="validate[required]")
								label.label Nombre

						li
							.contact.contac__input.contac--input
								input(type="number", name="telefono", class="validate[required]")
								label.label Teléfono
						li
							.contact.contac__input.contac--input
								input(type="email", name="nombre_apellido", class="validate[required]")
								label.label E-mail
						li
							.contact.contac__input.contac--input
								input(type="textarea", name="mensaje", class="validate[required]")
								label.label Mensaje
					.contenedor__button.contenedor__button--center
						button.button(type="submit") ENVIAR
							span.button__icon.icon-arrow

	//- modal
	.overlay
	section.modal_ubicacion
		.modal__ubicacion__content
			.contacto__title.titulos.titulo--izquierda
				h2.titulo-general SIGA ESTE CARTEL:
				a#modalClose(href="") X
			.modal__ubicacion__img
				img(src=`${STATIC_URL}img/img-ubicacion-modal.jpg`)
			.parrafo-general.parrafo-justificado
				p.
					Finalizando la cuadra 8 de Garcilazo de la Vega, voltear a la derecha en Huaman Poma, luego a la derecha en Los Laureles
			//- .contenedor__button.modal__ubicacion__button--padding--top
				//- a.button(href="") VER UBICACIÓN
				//- 	span.button__icon.icon-arrow
//- js
append scripts 
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/fancy/fancy-full/lg-zoom.js`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/validation/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validation/jquery.validationEngine.js`)
	script.
		$(function() {
			//- lightgallery
			$('#lightgallery__image--id').lightGallery({
				 selector:'a'
				 });
			$('.lightgallery__image--pitcher').click(function(e) {
				e.preventDefault();
					$('.fixed-img a').eq(0).trigger('click');
			});
			//- open modal
			$('#openModal').click((e)=>{
				e.preventDefault()
				$('.overlay').addClass('active');
				$('.modal__ubicacion__content').addClass('active');
			})
			$('#modalClose, .overlay').click((e)=>{
				e.preventDefault()
				$('.overlay').removeClass('active');
				$('.modal__ubicacion__content').removeClass('active');
			})
			//- validation formulario
			$("#formContact").validationEngine({
				background: "black"
			});
			//- k
			var formBox = $(".contac__input input, .contac__input textarea")
			$(formBox).focusin(function() {
				$(this).parent().addClass('active');
			});

			$(formBox).focusout(function() {
				if ($(this).val() === "") {
					$(this).parent().removeClass('active');
				};
			});

			//- video block 1

			//- slider video
			
			$('.home__principal__slider__pitcher').bxSlider({
					mode: 'fade',
					controls:true,
					nextSelector: '.home__principal__arrow--next',
					prevSelector: '.home__principal__arrow--prev',
					nextText: '',
					auto:true,
					prevText: '',
					pager:true,
					adaptiveHeight:true,
					auto:false,
					pause: 5000,
					onSliderLoad: function(currentIndex) {
						$('.slider__principal__pitcher3').children().eq(currentIndex).addClass('active')
					},
					onSlideBefore: function($slideElement){
						$('.slider__principal__pitcher3').children().removeClass('active');
						setTimeout( function(){
							$slideElement.addClass('active');
						},500);
					}
				});

			// reproductor video - jquery 3.2.0
			var url ="https://www.youtube.com/embed/";
			var config ="?rel=0&enablejsapi=1&version=3&playerapiid=ytplayer"
			$('.w-play').click(function(event) {
				play = $(this)
				play.addClass('anima');
				videocurrent = $(this).closest('.w-video').find('.service__video__slider__iframe');
				videoid = videocurrent.attr('data-video');
				videocurrent.attr('src', url+videoid+config);
				videocurrent.on('load', function() {
					play.closest('.w-video').find('.w-portada').addClass('active');
					play.addClass('active');
					videocurrent[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*'); 
				});
			});

			// animación de textos
			$('.titulos, .parrafo-justificado').each(function(index, el) {
				$(el).waypoint(function(direction) {
					if (direction === 'down') {
						$(el).addClass('active');
					}else {
						$('.titulos, .parrafo-justificado').addClass('active');
					}
				}, {
					offset:'80%'
				});
			});
			$('#lightgallery__image--id1').lightGallery({
				 selector:'a'
				 });
			$('.lightgallery__image--pitcher1').click(function(e) {
				e.preventDefault();
			$('.lightgallery__image1 a').click();
				 });
		});