extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	
	section.plano
		.plano__content
			.plano__img
				img(src=`${STATIC_URL}img/img-mapa-plano.png` alt="")
			.txt_group_plano
				.contacto__title.titulos.titulo--izquierda
					h2.titulo-general PLANO DE<strong>LOTES</strong>
				.parrafo-general.parrafo-justificado.plano--padding--button
					p.
						El Condominio tiene un área total de más de 16,000m2 sobre el cual se han desarrollado 09 lotes de campo y áreas comunes, jardines, caminos y Portico de seguridad. El condominio se encuentra totalmente arborizado.
				.plano__table
					table.plano__table
						thead
							tr.plano--table--alto
								th.plano--table--th.plano--table--ancho.plano--table--txt--center LOTE
								th.plano--table--th.plano--table--ancho.plano--table--txt--center ÁREA
						tbody
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A01
								td.plano--table--td 1202.83m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A02*
								td.plano--table--td 1349.33m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A03
								td.plano--table--td 1193.37m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A04*
								td.plano--table--td 1202.83m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A05
								td.plano--table--td 1349.33m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A06
								td.plano--table--td 1193.37m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A07
								td.plano--table--td 1202.83m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A08
								td.plano--table--td 1349.33m2
							tr.plano--table--alto.plano--tr--hover.plano--table--txt--center
								td.plano--table--td A09
								td.plano--table--td 1193.37m2
				.parrafo-general.parrafo-justificado.plano--padding--top
						p  Los Lotes 02 y 04 incluyen casa 100% remodelada*
				.contenedor__button.plano--button--display
						button.button.button--fondocolorblanco(type='') VER LOTES
						i.icon-icono-04.padding--left
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	//- aqui inicia script
	//- script.
	//- 	$(function() {
	//- 		//- k
	//- 		var formBox = $(".contac__input input, .contac__input textarea")
	//- 		$(formBox).focusin(function() {
	//- 			$(this).parent().addClass('active');
	//- 		});

	//- 		$(formBox).focusout(function() {
	//- 			if ($(this).val() === "") {
	//- 				$(this).parent().removeClass('active');
	//- 			};
	//- 		});
	//- 	});
