extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	
	section.ubicacion
		.ubicacion__content
			.ubicacion__img
				img(src=`${STATIC_URL}img/img-ubicacion.jpg` alt="")
			.ubicacion__content__group
				.contacto__title.titulos.titulo--izquierda
					h2.titulo-general NUESTRA<strong>UBICACIÓN</strong>
				.parrafo-general.parrafo-justificado
					p.
						Ubicado a solo 45 minutos de Lima, contamos con una amplia vista panoramica, hermosos atardeceres y exclusivos Lotes de mas de 1,000m2 para disfrutar todo el dia.
				.contenedor__button.button--derecha
					button.button.button--fondocolorplomo(type='') VER PLANO
					i.icon-icono-04
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	//- aqui inicia script
	//- script.
	//- 	$(function() {
	//- 		//- k
	//- 		var formBox = $(".contac__input input, .contac__input textarea")
	//- 		$(formBox).focusin(function() {
	//- 			$(this).parent().addClass('active');
	//- 		});

	//- 		$(formBox).focusout(function() {
	//- 			if ($(this).val() === "") {
	//- 				$(this).parent().removeClass('active');
	//- 			};
	//- 		});
	//- 	});
