extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	
	section.modal_ubicacion
		.modal__ubicacion__content
			.contacto__title.titulos.titulo--izquierda
				h2.titulo-general SIGA ESTE CARTEL:
			.modal__ubicacion__img
				img(src=`${STATIC_URL}img/img-ubicacion-modal.jpg`)
			.parrafo-general.parrafo-justificado
				p.
					Finalizando la cuadra 8 de Garcilazo de la Vega, voltear a la derecha en Huaman Poma, luego a la derecha en Los Laureles
			.contenedor__button.modal__ubicacion__button--padding--top
				button.button.button--fondocolorblanco(type='') VER UBICACIÓN
				i.icon-icono-04
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	//- aqui inicia script
	//- script.
	//- 	$(function() {
	//- 		//- k
	//- 		var formBox = $(".contac__input input, .contac__input textarea")
	//- 		$(formBox).focusin(function() {
	//- 			$(this).parent().addClass('active');
	//- 		});

	//- 		$(formBox).focusout(function() {
	//- 			if ($(this).val() === "") {
	//- 				$(this).parent().removeClass('active');
	//- 			};
	//- 		});
	//- 	});
