.home__principal
	overflow: hidden
	height: 650px
	width: 100%
	// background: red
	position: relative
	max-width: 1920px
	margin: 0 auto
	.bx-wrapper .bx-pager
		text-align: left
		// sale temporalmente
		display: none 	
	.bx-pager
		bottom: 20px	
		z-index: 65
.home__principal__slider__item
	+backgroundsize()
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $negro
		opacity: .5
.home__principal__table
	display: table-cell 
	vertical-align: middle	
	height: 650px
.home__principal__arrows
	position: absolute	
	bottom: 30px	
	right: 20px	
	z-index: 65
	display: flex
	align-items: center
	// sale temporalmente
	display: none 	

.home__principal__arrow--next, .home__principal__arrow--prev
	position: relative
	padding: 10px
	box-sizing: border-box	
	color: $blanco 	
	transition: all .3s linear
	a 
		display: block	
		position: absolute	
		top: 0	
		left: 0	
		width: 100%	
		height: 100%	

.home__principal__arrow--next, .home__principal__arrow--prev
	&:hover 
		opacity: .6

.home__principal__arrow--prev
	margin-left: 10px	
	transform: rotate(180deg)

.img1_slider
	width: 1920px
	height: 650px
	background-position: center center
	background-repeat: no-repeat
	background-size: cover

.home__principal__buttons
	width: auto
	height: auto
	position: absolute
	z-index: 100
	bottom: 37px
	left: 109px
	font-family: $t-2
	font-size: 19px

.home__principal__button1, .home__principal__button2
	display: inline-block
	color: $blanco
	width: auto
	height: auto

.home__principal__button1
	padding-right: 70px

.home__icon__box
	background-color: $blanco
	opacity: 0.5
	border-radius: 40px
	width: 51px
	height: 51px
	position: absolute
	z-index: 1
	top: 8px

.home__icon
	position: absolute
	z-index: 2
	padding-left: 22px
	padding-top: 16px
	font-size: 18px

.number__content, .slash__content, .icon__content, .parrafo__content
	display: inline-block
	width: auto
	height: auto

.slash__content
	p
		font-size: 50px
		font-family: $t-4
		padding-left: 10px
		padding-right: 10px
.icon__content
	position: relative
	width: 60px
	height: 51px
.home__icon__box
	position: absolute
	width: 51px
	height 51px
.home__icon
	position: absolute
	width: 60px
	height 51px
	top: 8px

.number__content
	position: relative
	width: 15px
	p
		position: absolute
		top: -40px
.parrafo__content
	position: relative
	width: 200px
	height: 100%
	p
		position: absolute
		font-size: 14px
		line-height: 25px
		top: -45px

		strong
			font-size: 24px
			font-family: $t-1
			display: block
			font-weight: normal
@media screen and (max-width: 420px)
	.home__principal__buttons
		left: 10%