.contacto
	width: 100%
	height: auto
	label
		left: 0
.contacto__content
	max-width: 840px
	width: 95%
	height: auto
	margin: 0 auto
	padding-top: 70px
	padding-bottom: 70px
.contacto__form
	padding-top: 30px
.label
	font-family: $t-2
.contenedor__button--center
	text-align: center
	padding-top: 30px

.formError .formErrorContent
	background: black
.formError
	.formErrorArrow
		div
			background: black