.error
	height: 100vh
.error__content
	max-width: 680px
	margin: auto
	height: 100vh
	display: flex
	flex-direction: column
	text-align: center
	padding-left: 10px
	padding-right: 10px
	margin-bottom: 99px
	align-items: center
	justify-content: center
	h2
		font-size: 84px
		font-family: $t-1
		color: #173504
		margin-top: 99px
	h3
		font-size: 23px
		font-family: $t-1
		color: #173504

	p
		font-size: 22px
		font-family: $t-4
		max-width: 700px
		color: #727772
		margin: auto
		margin-top: 69px
		padding-bottom: 69px
@media screen and (max-width: 768px)
	.error__content
		h2
			font-size: 48px	
		h3
			font-size: 19px
		p
			margin-top: 39px
			margin-bottom: 39px	
			padding-bottom: 0
			font-size: 14px	