
.exclusivo__content
	margin: 0 auto
	max-width: 1920px
	width: 100%
	min-height: 790px
	height: 90%
	position: relative
	padding-left: 14%
	padding-top: 80px
.caja__plomo__exclusivo
	max-width: 1300px
	width: 70%
	max-height: 550px
	height: 100%
	background-color: $c-1
	position: absolute
	z-index: -1
	left: 0
	top: 0
.exclusivo__img
	max-width: 61%
	width: 100%
	height: auto
	min-height: 65%
	position: absolute
	right: 0
	top: 130px
	z-index: -1
.txt_group_exclusivo
	max-width: 60%
	height: auto
	background-color: $blanco
	box-shadow: 1px 4px 7px 0px rgba(136, 136, 136, 0.34)
	// padding: 85px
	padding-right: 50px
	padding-top: 40px
	padding-bottom: 40px
	padding-left: 50px
	overflow: hidden
@media screen and (max-width: 1331px)
	.exclusivo__img
		position: relative
		top: -80px
		margin-left: 15%
	.exclusivo__img, .txt_group_exclusivo
		max-width: 85%
	.exclusivo__content
		min-height: auto
		height: auto
@media screen and (max-width: 768px)
	.txt_group_exclusivo
		max-width: 90%
	.caja__plomo__exclusivo
		width: 80%
		max-height: 50%
@media screen and (max-width: 685px)
	.txt_group_exclusivo
		max-width: 100%
		padding: 10%
	.caja__plomo__exclusivo
		width: 100%
		max-height: 50%
	.exclusivo__content
		padding-left: 5%
		padding-right: 5%
	.exclusivo__img
		margin-left: 0
		margin: 0 auto
		max-width: 100%
		top: 8px
@media screen and (max-width: 550px)
	.parrafo-justificado 
		p
			font-size: 14px !important