.galeria
	position: relative
	overflow: hidden
.galeria__content
	margin: 0 auto
	max-width: 1920px
	height: auto
	background-size: cover
	padding-bottom: 70px
.galeria__content__bgc
	position: absolute
	h2
		font-size: 345px
		font-family: $t-1
		color: #f7f7f7
.galeria__content--top
	position: absolute
	top: 150px
	z-index: -1
	left: -90px
.galeria__content--bottom
	position: absolute
	bottom: 150px
	right: 0
	z-index: -1
.txt_group_galeria
	max-width: 1181px
	width: 90%
	margin: 0 auto
	overflow: hidden
.galeria__group__box
	margin: 0 auto
	max-width: 1510px
	width: 90%
	height: auto
	margin-top: 130px
.galeria__box1, .galeria__box2
	margin: 0 auto
	text-align: center
	height: auto
	max-width: 1300px
	width: 100%
.galeria__box1
	padding-left: 5%
.galeria__box2
	padding-right: 7%
	text-align: left
	position: relative
.galeria__img1, .galeria__img2, .galeria__img3, .galeria__img4, .galeria__img5, .galeria__img6
	display: inline-block
	vertical-align: top
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	width: 100%
	margin-left: 5px
	margin-right: 5px
.galeria__img1
	width: 30%
	height: 369px
.galeria__img2
	width: 35%
	height: 402px
	margin-top: -107px
.galeria__img3
	width: 30%
	height: 522px
	margin-top: 46px
.galeria__img4
	width: 43%
	height: 405px
	margin-top: -187px
.galeria__img5
	width: 30%
	height: 410px
	margin-top: -252px
.galeria__img6
	width: auto
	height: auto
	padding-top: 98px
	position: absolute
	padding-left: 92px
	// right: 30px
	// padding-left: 7%
.galeria__box__cierre
	margin: 0 auto
	width: 100%
	height: auto
	margin-top: 74px
.galeria__logo__vertice
	width: 286px
	height: 73px
	margin: 0 auto
.galeria__boton__responsive
	display: none
@media screen and (max-width: 1334px)
	.galeria__img6
		padding-left: 4%
	.galeria__content__bgc
		h2
			font-size: 175px

@media screen and (max-width: 1082px)
	.galeria__img1
		width: 45%
	.galeria__img2
		width: 45%
	.galeria__box2
		display: none
	.galeria__img3
		display: none
	.galeria__boton__responsive
		display: block
		text-align: center
		margin-top: 20px
@media screen and (max-width: 1024px)
	.galeria__content__bgc
		h2
			font-size: 175px
@media screen and (max-width: 920px)
	.galeria__img3, .galeria__img4, .galeria__img5
		display: none
	.galeria__img1
		width: 45%
	.galeria__img2
		width: 45%
	.galeria__box1
		padding-left: 0
	.galeria__img6
		position: relative
		padding-left: 0
		padding-top: 30px
		margin-top: 0
		padding-right: 0
	.galeria__box2
		padding-right: 0
		text-align: center
	.galeria__box__cierre
		width: 90%
		margin-top: 50px
	.galeria__group__box
		width: 100%
@media screen and (max-width: 780px)	
	.galeria__content__bgc
		display: none
@media screen and (max-width: 491px)
	.galeria__content__bgc
		display: none
	.galeria__img1, .galeria__img2
		display: block
		margin: 0 auto
		height: 250px
	.galeria__img1
		display:  none
	.galeria__img2
		width: 100%	
	.galeria__group__box
		margin-top: 30px
	.galeria__logo__vertice
		width: 70%
		height: auto
	.modal_ubicacion
		.modal__ubicacion__content
			width: 375px
	.modal_ubicacion
		.titulos .titulo-general
			font-size: 18px
@media screen and (max-width: 390px)
	.modal_ubicacion
		.modal__ubicacion__content
			width: 300px
		.modal__ubicacion__img
			width: 210px
	.button
		font-size: 14px !important
