.plano__content
	max-width: 1920px
	height: auto
	background-image: url("../img/img-fondo-plano.jpg");
	background-repeat: repeat
	margin: 0 auto
	text-align: center
	padding-bottom: 82px
	padding-top: 78px
.plano__img
	max-width: 699px
	width: 50%
	height: auto
	display: inline-block
	padding-right: 4%
.txt_group_plano
	max-width: 510px
	height: auto
	display: inline-block
	vertical-align: top
.plano__title
	overflow: hidden
.plano__table
	max-width: 510px
	width: 100%
	height: auto
.plano--table--th
	background-color: $c-2
	color: $c-4
	font-family: $t-0
	font-size: 21px
.plano--table--td
	height: 68px
	border: 1px solid $c-2;
	font-family: $t-0
	font-size: 21px
.parrafo-justificado
	p
		font-size: 22px
		color: #727772
		font-family: $t-4
.plano--table--alto
	height: 68px
.plano--table--ancho
	width: 50%
.plano--table--txt--center
	text-align: center
.plano--padding--top
	padding-top: 37px
	p
		font-size: 19px
.plano--padding--button
	padding-bottom: 20px
.plano--button--display
	display: none
.plano--tr--hover
	transition: all .3s;
.plano--tr--hover
	&:hover
		background-color: $c-4
		color: $blanco
		cursor: pointer
@media screen and (max-width: 1380px)
	.plano--padding--top
		p
			font-size: 18px
@media screen and (max-width: 1183px)
	.plano__img, .txt_group_plano
		display: block
		margin: 0 auto
	.plano__img
		width: 50%
		padding-right: 0
	.txt_group_plano
		max-width: 60%
	.plano__table
		max-width: 100%
	.plano__content
		padding-bottom: 50px
		padding-top: 50px
	.txt_group_plano
		padding-top: 0
@media screen and (max-width: 890px)
	.plano--padding--top
		p
			font-size: 14px
	.plano__parrafo__center
		p
			text-align: center
@media screen and (max-width: 686px)
	.txt_group_plano
		padding-top: 30px
@media screen and (max-width: 768px)
	.plano__img
		display: none
	.plano__content
		padding-bottom: 10%
		padding-top: 0
	.plano--button--display
		display: block
		padding-top: 20px
	.txt_group_plano
		max-width: 90%
	.plano--table--th, .plano--table--td
		font-size: 18px
@media screen and (max-width: 420px)
	.plano--padding--top
		p
			font-size: 13px