.ubicacion
	padding-left: 400px
	min-height: 840px
.ubicacion__content
	margin: 0 auto
	max-width: 1920px
	position: relative
	min-height: 667px
	background-color: $c-2
.ubicacion__img
	min-width: 914px
	min-height: 664px
	position: absolute
	margin-top: 64px
	left: -400px
.ubicacion__content__group
	padding-top: 150px
	max-width: 560px
	margin-left: 550px
	padding-right: 50px
	overflow: hidden
.button--derecha
	padding-top: 50px
	text-align: right
@media screen and (max-width: 1374px)
	.ubicacion
		padding-left: 20%
		min-height: auto
		padding-bottom: 100px
	.ubicacion__img
		min-width: 65%
		min-height: auto
		width: 50%
		height: auto
		left: -25%
	.ubicacion__content__group
		padding-top: 120px
		max-width: 100%
		margin-left: 45%
		padding-right: 50px
	.ubicacion__content
		min-height: auto
		padding-bottom: 150px
@media screen and (max-width: 1090px)
	.ubicacion
		padding-bottom: 0
@media screen and (max-width: 767px)
	.ubicacion
		padding-left: 0
	.ubicacion__content
		padding-top: 0
		padding-bottom: 100px
		border-top: 60px solid $blanco
	.ubicacion__img
		min-width: 90%
		left: 0
		position: relative
		margin: 0 auto
		top: -60px
	.ubicacion__content__group
		width: 90%
		padding: 0
		margin: 0 auto
		margin-top: -20px