.overlay
	position: fixed
	width: 100%
	height: 100%
	z-index: -1
	top: 0
	left: 0
	background: black
	opacity: 0
	visibility: hidden
	&.active
		transition: all .5s
		opacity: .7
		visibility: visible
		z-index: 900
#modalClose
	position: absolute
	right: -10px
	background: black
	color: white
	top: -10px
	width: 40px
	height: 40px
	border-radius: 50%
	text-align: center
	line-height: 40px
.contacto__title.titulos
	overflow: initial
	position: relative
.modal__ubicacion__content
	width: 539px
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: -1
	margin: auto
	height: 600px
	background-color: $blanco
	padding: 35px 40px
	text-align: center
	visibility: hidden
	top: -150px
	&.active
		transition: all .6s
		top: 0px
		visibility: visible
		z-index: 901
.modal__ubicacion__img
	padding-top: 35px
	padding-bottom: 30px
	width: 300px
	margin: auto
.modal__ubicacion__button--padding--top
	padding-top: 47px
@media screen and (max-width: 539px)
	.modal__content
		width: 100%
		padding: 10%
@media screen and (max-width: 320px)
	.modal__ubicacion__content
		height: 520px