@font-face
  font-family: 'BrandonGrotesque-Regular'
  src: url('../fonts/BrandonGrotesque-Regular.eot')
  src: url('../fonts/BrandonGrotesque-Regular.woff2') format("woff2"), url('../fonts/BrandonGrotesque-Regular.woff') format("woff"), url('../fonts/BrandonGrotesque-Regular.ttf') format("truetype"), url('../fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format("svg"), url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Lora-Regular'
  src: url('../fonts/Lora-Regular.eot')
  src: url('../fonts/Lora-Regular.woff2') format("woff2"), url('../fonts/Lora-Regular.woff') format("woff"), url('Lora-Regular.ttf') format("truetype"), url('../fonts/Lora-Regular.svg#Lora-Regular') format("svg"), url('../fonts/Lora-Regular.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Montserrat-Regular'
  src: url('../fonts/Montserrat-Regular.eot')
  src: url('../fonts/Montserrat-Regular.woff2') format("woff2"), url('../fonts/Montserrat-Regular.woff') format("woff"), url('../fonts/Montserrat-Regular.ttf') format("truetype"), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format("svg"), url('../fonts/Montserrat-Regular.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Montserrat-SemiBold'
  src: url('../fonts/Montserrat-SemiBold.eot')
  src: url('../fonts/Montserrat-SemiBold.woff2') format("woff2"), url('../fonts/Montserrat-SemiBold.woff') format("woff"), url('../fonts/Montserrat-SemiBold.ttf') format("truetype"), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format("svg"), url('../fonts/Montserrat-SemiBold.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Montserrat-Light'
  src: url('../fonts/Montserrat-Light.eot')
  src: url('../fonts/Montserrat-Light.woff2') format("woff2"), url('../fonts/Montserrat-Light.woff') format("woff"), url('../fonts/Montserrat-Light.ttf') format("truetype"), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format("svg"), url('../fonts/Montserrat-Light.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal