extends ./_common/base.pug
//- btn
block content

	//- form
	//- 	ul
	//- 		li
	//- 			.contac-input
	//- 				input(type="text", name="", placeholder="Nombres", class='validate[required]')
	//- 		li
	//- 			.contac-input
	//- 				input(type="text", name="telefono", placeholder="Teléfono", class='validate[required] soloNumber')
	//- 		li
	//- 			.contac-input
	//- 				input(type="text", name="", placeholder="Email", class='validate[required]')
	//- 		li
	//- 			.contac-input
	//- 				textarea(name="mensaje", placeholder="Mensaje", class='validate[required]')
	//- 	button.button_enviar( type='submit', value="Enviar") Enviar
	//- 	a.a_enviar(href="") enviar
	//- 		i.icon-icono-04
