// body
// 	color: $c-0
// 	font-family: $t-0
// 	font-size: 15px
a
	color: inherit
	text-decoration: none
	&:hover, &:focus
		text-decoration: none
		outline: none
img
	width: 100%
	height: auto
.wrapper
	overflow: hidden