.button
	display: inline-block
	height: 30px
	line-height: 30px
	background: none
	color: $c-3
	font-family: $t-4
	font-size: 21px
	border: none
	position: relative
	padding: 0
	padding-right: 95px
	&:hover
		color: $c-3
	@media screen and (min-width: 1025px)
		&:hover
			.button__icon
				animation: button__icon__anima .8s linear infinite

.button__icon
	display: inline-block
	line-height: 1
	color: $c-3
	font-size: 8px
	position: absolute
	top: 50%
	right: 0
	margin-top: -4px

// animation
+keyframes(button__icon__anima)
	0%
		transform: translateX(0px)
		opacity: 0
	100%
		transform: translateX(10px)
		opacity: 1

@media screen and (max-width: 768px)
	.button
		font-size: 18px
@media screen and (max-width: 480px)
	.button
		font-size: 16px