.contact
	position: relative
.label
	position: absolute
	top: 0px
	transition: all .3s
	text-transform: uppercase
	font-size: 13px
	font-family: $t-4
.contac__input
	width: 100%	
.contac--input
	color: $c-0
	border: none
	border-bottom: 1px solid $c-2;
	margin-bottom: 45px
	input, textarea
		color: $negro
		width: 100%
		height: 40px
		border: none
		background: none
		border-bottom: 1px solid $blanco
	&.active
		input, textarea
			border-bottom: 1px solid $c-7;
		.label
			font-size: 15px
			top: -10px
			color: $c-1
	&:first-child
		margin-right: 10%