.parrafo-general
	font-family: $t-4
	color: $c-0
	font-size: 22px
	overflow: hidden
.parrafo-justificado
	text-align: justify
.parrafo-centro
	text-align: center
@media screen and (min-width: 1025px)
	.parrafo-justificado
		opacity: 0
		transform: scale(1.0) translate3d(0,100%,0)
		transition: transform 900ms ease, opacity 100ms ease
	.parrafo-justificado.active
		opacity: 1
		transform: scale(1.0) translate3d(0,0,0)
@media screen and (max-width: 1380px)
	.parrafo-general
		font-size: 18px
@media screen and (max-width: 890px)
	.parrafo-general
		font-size: 14px
@media screen and (max-width: 420px)
	.parrafo-general
		font-size: 13px