.titulos
	overflow: hidden
	.titulo-general
		font-family: $t-1
		font-size: 30px
		color: $c-4
		font-weight: normal
	strong
		font-family: $t-1
		font-size: 80px
		display: block
		font-weight: normal
		line-height: 100px
.titulo--centro
	text-align: center
.titulo--izquierda
	text-align: left
@media screen and (min-width: 1025px)
	.titulos
		opacity: 0
		transform: scale(1.0) translate3d(0,100%,0)
		transition: transform 1000ms ease, opacity 100ms ease
	.titulos.active
		opacity: 1
		transform: scale(1.0) translate3d(0,0,0)
@media screen and (max-width: 1457px)
	.titulos
		strong
			font-size: 65px
			line-height: 77px
@media screen and (max-width: 959px)
	.titulos
		strong
			font-size: 60px
			line-height: 80px
@media screen and (max-width: 877px)
	.titulos
		strong
			font-size: 55px
			line-height: 70px
@media screen and (max-width: 767px)
	.titulos
		.titulo-general
			font-size: 22px
		strong
			font-size: 26px
			line-height: 40px
